[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]

[dev-packages]
pytest = '*'
pytest-mock = '*'
pre-commit = '*'
black = '*'
flake8 = '*'

[requires]
python_version = '3.8'
