[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ray = "*"

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
black = "black -v src"
mypy = "mypy src"
